<mat-toolbar role="heading">
  <button mat-icon-button class="menu-icon" (click)="toggleMobileMenu()" aria-label="Toggle navigation menu">
    <mat-icon>{{ isMobileMenuOpen ? 'close' : 'menu' }}</mat-icon>
  </button>

  <a routerLink="/dashboard"><strong>NeuroPuentes</strong></a>

  <nav class="desktop-nav">
    <a routerLink="/dashboard" data-text="Dashboard" class="gradient-hover-link">Dashboard</a>
    <a routerLink="/history" data-text="Historial" class="gradient-hover-link">Historial</a>
    <a routerLink="/scenarios" data-text="Escenarios" class="gradient-hover-link">Escenarios</a>
  </nav>

  <span class="spacer"></span>

  <div class="desktop-buttons" *ngIf="isLoggedIn">
    <button mat-button [matMenuTriggerFor]="userMenu">{{ nombreUsuario }}</button>

    <mat-menu #userMenu="matMenu" class="user-menu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<div class="mobile-menu-dropdown" *ngIf="isMobileMenuOpen">
  <a mat-button (click)="toggleMobileMenu()" routerLink="/dashboard" data-text="Dashboard" class="gradient-hover-link">Dashboard</a>
  <a mat-button (click)="toggleMobileMenu()" routerLink="/history" data-text="Historial" class="gradient-hover-link">Historial</a>
  <a mat-button (click)="toggleMobileMenu()" routerLink="/scenarios" data-text="Escenarios" class="gradient-hover-link">Escenarios</a>

  <button mat-button [matMenuTriggerFor]="userMenu">{{ nombreUsuario }}</button>

  <mat-menu #userMenu="matMenu" class="user-menu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    </mat-menu>
</div>