# Entorno virtual
.venv/
venv/

# Variables de entorno
.env

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos temporales
*.log
*.tmp

# Configuración de VSCode (opcional, si lo usas)
.vscode/
