# --- Procesamiento de audio y STT (Whisper / Torch) ---
openai-whisper==20250625
torch==2.8.0
torchaudio==2.8.0
numpy==1.22.0
soundfile==0.13.1

# --- Modelos de lenguaje (LLaMA 3, Mistral, etc.) ---
transformers==4.55.2
accelerate==1.10.0
sentencepiece==0.2.1
huggingface-hub==0.34.4

# --- Text-to-Speech (Coqui TTS) ---
TTS==0.22.0

# --- Comunicación con Backend/API REST (tu API .NET) ---
requests==2.32.5
websockets==15.0.1

# --- Ciencia de datos y analítica ---
pandas==1.5.3
matplotlib==3.8.0
seaborn==0.12.2
colorama==1.4.7

# Conexión con la base de datos
sqlalchemy==2.0.43
psycopg2-binary==2.9.7
