// theme-colors.scss
@use 'sass:map';
@use '@angular/material' as mat;

// Paleta basada en los colores neuro
$_palettes: (
  primary: (
    0: #000000,
    10: #001a3a,
    20: #002e63,
    25: #00397a,
    30: #004492,
    35: #0050ab,
    40: #1565C0,
    50: #1E88E5,
    60: #42A5F5,
    70: #64B5F6,
    80: #90CAF9,
    90: #BBDEFB,
    95: #E3F2FD,
    98: #F5FAFF,
    99: #FCFDFF,
    100: #FFFFFF,
  ),
  secondary: (
    0: #000000,
    10: #001d31,
    20: #003352,
    25: #003f65,
    30: #004c79,
    35: #00598e,
    40: #0067a4,
    50: #0083c4,
    60: #1e9ee5,
    70: #42b5f5,
    80: #64c5f6,
    90: #bbdefb,
    95: #e3f2fd,
    98: #f5faff,
    99: #fcfdff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #00210a,
    20: #003917,
    25: #00471f,
    30: #005627,
    35: #006530,
    40: #00753a,
    50: #00994e,
    60: #00bd63,
    70: #81C784,
    80: #a5d6a7,
    90: #c8e6c9,
    95: #e8f5e9,
    98: #f1f8f2,
    99: #f8fdf9,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1a1a1a,
    20: #2e2e2e,
    25: #393939,
    30: #444444,
    35: #505050,
    40: #5c5c5c,
    50: #757575,
    60: #9E9E9E,
    70: #bdbdbd,
    80: #e0e0e0,
    90: #F5F5F5,
    95: #fafafa,
    98: #fcfcfc,
    99: #ffffff,
    100: #ffffff,
  ),
  neutral-variant: (
    0: #000000,
    10: #1a1a22,
    20: #2e2e38,
    25: #393944,
    30: #444450,
    35: #50505c,
    40: #5c5c69,
    50: #757583,
    60: #8e8e9e,
    70: #a9a9b9,
    80: #c5c5d5,
    90: #e1e1f1,
    95: #f0f0fa,
    98: #f9f9ff,
    99: #fcfcff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);