.config-container {
  max-width: 800px;
  margin: auto;
  padding: 24px;
}

.title {
  font-weight: 600;
  margin-bottom: 16px;
}

.scenario-card {
  margin-bottom: 16px;
}

.preview-card {
  margin-top: 24px;
}

.start-btn {
  text-align: center;
  margin-top: 24px;
}

.w-100 {
  width: 100%;
}

.my-4 {
  margin: 16px 0;
}

.mt-4 {
  margin-top: 16px;
}
